@charset "utf-8";

      header {width:1417px; height:70px; margin:0 auto; position:relative;}
      #header_top {width:100%; height:35px; border-bottom:1px solid #ddd;}
      #header_top .title_wrap {width:35%; float:left; height:100%;}
      #header_top .title_wrap p span {color:#000; font-size:0.7em; padding-left:3%;}
      #header_top .title_wrap p {font-size:1em; color:#7f7f7f; line-height:0.5;}

      #header_top .user_wrap {width:32%; float:right; height:100%;}
      #header_top .user_wrap p {font-size:0.65em; padding-top:2px;}
      #header_top .user_wrap .button_wrap {float:right; position:absolute; top:5%; right:1%;}
      #header_top .user_wrap .button_wrap button {font-size:0.65em; color:#fff; background-color:#0066ff; border:#808080; border-radius:30px;}

      #header_middle {width:1417px; height:35px; background-color:#f2f2f2; margin:0 auto; border-bottom:1px solid #000; position:absolute;}
      #header_middle ul {list-style:none; position:absolute; margin:0; margin-top:0.35%; margin-left:-1.7%;}
      #header_middle ul li {border:1px solid #ddd; float:left; background-color:#fff; width:77px; font-size:0.75em; text-align:center; font-weight:bold; padding:3.5px 0px; margin:0; color:#4d4d4d;}
      #header_middle button {border:1px solid #ddd; background-color:#fff; float:right; font-weight:bold; font-size:0.8em; padding:5px 10px; margin:2.5px 8px 0px 0px;}

      section {width:1417px; height:750px; margin:0 auto; position:relative; border-bottom:1px dotted #666;}
      section nav {border:1px solid #000; width:181.4px; height:750px; margin:0; background-color:#f2f2f2;}
      section nav ul {list-style:none; margin:0; width:95%; margin-left:-37px; margin-top:2%;}
      section nav ul li {border-bottom:1px solid #ddd; width:100%; height:30px; font-size:0.8em; text-indent:15px; line-height:2.5;}
      section nav ul li:first-child {border-top:2px solid #999;}

      nav #nav_title {width:100%; height:70px; border:1px solid #000; border-top:10px solid #666; background:linear-gradient(#fff, #ececec);}
      nav #nav_title h1 {text-align:center; color:#666; font-size:1em; padding-top:4%;}

      section #main {width:1200px; height:715px; float:right; border:1px solid #000; position:absolute; top:2.5%; left:14.2%;}
      .box_title {width:100%; height:25px; background:#4f81bd; margin:0; border-bottom:1px solid #666;}
      .box_title h3 {font-size:0.85em; margin:0; line-height:1.78; padding-left:8px; color:#fff;}
      .box_title .diagram_wrap {width:68px; height:100%; position:absolute; top:0; right:0; display:flex; flex-direction:row;}
      .diagram_wrap .diagram {width:22.6px; height:24px; border:1px solid #666; text-align:center; color:#666; background-color:#fff;}
      .diagram_wrap .diagram i {font-size:0.8em;}

      #main .day {width:100%; height:30.2px; border-bottom:1px solid #999; display:flex; flex-direction:row; padding-top:0.5%;}
      .day input[type="date"] {height:18.8px; width:65px; border:1px solid #808080; margin-right:3px;}
      .day input[type="text"] {width:60px; height:18.8px; border:1px solid #808080; margin-right:3px;}
      .day button {height:24px; font-size:0.8em; width:60px; margin-right:3px; background:linear-gradient(#fff, #c3c3c3); border:1px solid #808080;}
      .day button:last-child {width:30px;}
      .day label {font-size:0.8em; width:65px; color:#666;}
      .day p {font-size:0.8em; line-height:0.01em;}

      #main .button_area {width:100%; height:30.2px; display:flex; flex-direction:row; padding-top:0.5%; border-bottom:1px solid #999;}
      .button_area button {height:24px; font-size:0.8em; margin-right:3px; background:linear-gradient(#fff, #c3c3c3); border:1px solid #808080;}
      .button_area button:last-child {margin-left:50%;}
      .button_area button:first-child {margin-left:1%;}
      .button_area button i {color:#4f81bd;}

      #main .main_table {height:565px;}
      #main .main_table table {border-collapse:collapse; width:1170px; height:283.4px; font-size:0.55em; margin:0 auto; margin-top:14px; padding:0;}
      #main .main_table td, th {border:1px solid #ddd; text-align:center; padding:0px 5px; margin:0;}
      th {background-color:#f2f2f2; font-weight:normal;}
      a {text-decoration:none;}
      li {cursor:pointer;}
      p {cursor:pointer;}
      button {cursor:pointer;}
      .fa-square-full {color:red;}
      .fa-circle {color:blue;}

      #main .button_area2 {width:100%; height:30.2px; display:flex; flex-direction:row; padding-top:0.5%; border-top:1px solid #999;}
      .button_area2 button {height:24px; font-size:0.8em; margin-right:3px; background:linear-gradient(#fff, #c3c3c3); border:1px solid #808080;}
      .button_area2 button:first-child {margin-left:1%;}
      .button_area2 button i {color:#4f81bd;}