@charset "utf-8";

      header {width:1417px; height:70px; margin:0 auto; position:relative;}
      #header_top {width:100%; height:35px; border-bottom:1px solid #ddd;}
      #header_top .title_wrap {width:35%; float:left; height:100%;}
      #header_top .title_wrap p span {color:#000; font-size:0.7em; padding-left:3%;}
      #header_top .title_wrap p {font-size:1em; color:#7f7f7f; line-height:0.5;}

      #header_top .user_wrap {width:32%; float:right; height:100%;}
      #header_top .user_wrap p {font-size:0.65em; padding-top:2px;}
      #header_top .user_wrap .button_wrap {float:right; position:absolute; top:5%; right:1%;}
      #header_top .user_wrap .button_wrap button {font-size:0.65em; color:#fff; background-color:#0066ff; border:#808080; border-radius:30px;}

      #header_middle {width:1417px; height:35px; background-color:#f2f2f2; margin:0 auto; border-bottom:1px solid #000; position:absolute;}
      #header_middle ul {list-style:none; position:absolute; margin:0; margin-top:0.35%; margin-left:-1.7%;}
      #header_middle ul li {border:1px solid #ddd; float:left; background-color:#fff; width:77px; font-size:0.75em; text-align:center; font-weight:bold; padding:3.5px 0px; margin:0; color:#4d4d4d;}
      #header_middle button {border:1px solid #ddd; background-color:#fff; float:right; font-weight:bold; font-size:0.8em; padding:5px 10px; margin:2.5px 8px 0px 0px;}

      section {width:1417px; margin:0 auto;}
      .box_title {width:100%; height:25px; background:linear-gradient(#fff, #ececec); margin:0; border-bottom:1px solid #666;}
      .box_title h3 {font-size:0.85em; margin:0; line-height:1.78; padding-left:8px;}

      #box_container_left {width:47%; height:650px; float:left; margin:0;}
      #box_container_left .box_container_1 {width:647px; height:220px; background-color:#fff; margin-left:2.5%; margin-top:17px;}
      .box_container_1 .table_box_1 {width:313.7px; height:215px; border:1px solid #666; float:left; margin:0;}
      .box_container_1 .table_box_2 {width:313.7px; height:215px; border:1px solid #666; float:right;}

      #box_container_left .box_container_1 table {border-collapse:collapse; width:290px; height:160px; font-size:0.55em; margin:0 auto; margin-top:14px; padding:0;}
      #box_container_left .box_container_1 td, th {border:1px solid #ddd; text-align:center; padding:0px 5px; margin:0;}
	    th {background-color:#f2f2f2; font-weight:normal;}
      li {cursor:pointer;}
      p {cursor:pointer;}
      button {cursor:pointer;}

      #box_container_left .button_box {width:647px; height:155px; border:1px solid #666; margin-left:2.5%; margin-top:17px; background-color:#fff;}
      #box_container_left .button_box_wrap {width:95%; height:105px; margin:0 auto; margin-top:12px;}
      .button_box_wrap button {width:143.6px; height:38px; background:linear-gradient(#fff, #ececec); text-align:center; font-weight:bold; margin-right:5px; margin-top:1.5%; border:1px solid #808080;}

      #box_container_right {width:53%; height:650px; float:right; margin:0;}
      #box_container_right .box_container_1 {width:647px; height:220px; background-color:#fff; margin-left:2.5%; margin-top:17px;}

      #box_container_right .consulting {width:647px; height:329px; border:1px solid #666; margin-left:2.5%; margin-top:17px; background-color:#fff;}
      #box_container_right .consulting table {border-collapse:collapse; width:625px; height:220px; font-size:0.55em; margin:0 auto; margin-top:0; padding:0;}
      #box_container_right .consulting td, th {border:1px solid #ddd; text-align:center; padding:0px 5px; margin:0;}

      .box_container_1 .table_box_3 {width:313.7px; height:100px; border:1px solid #666; float:left; margin:0;}
      .box_container_1 .table_box_3 table {border-collapse:collapse; width:290px; height:50px; font-size:0.55em; margin:0 auto; margin-top:11.5px; padding:0;}
      .box_container_1 .table_box_3 td, th {border:1px solid #ddd; text-align:center; padding:0px 5px;}

      .box_container_1 .notice_box {width:313.7px; height:215px; border:1px solid #666; float:right; position:relative; bottom:42.5%;}
      .box_container_1 .notice_box table {border-collapse:collapse; width:290px; height:180px; font-size:0.55em; margin:0 auto; margin-top:5px;}
      .box_container_1 .notice_box table tr {border-bottom:1px solid #ddd;}
      .box_container_1 .notice_box table tr:last-child {border:none;}
      .box_container_1 .notice_box table th {border:none; background-color:initial;}

      .box_container_1 .status {width:315px; height:93px; position:relative; top:55%;}
      .box_container_1 .status button {width:152px; height:38px; background:linear-gradient(#fff, #ececec); text-align:center; font-weight:bold; border:1px solid #808080; position:relative; bottom:120%; margin-top:3%;}
      .box_container_1 .status button:nth-of-type(odd) {margin-right:5px;}